
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.top-container{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 30px 60px;
}
.top{
    width: 100vw;
    height: 90vh;
    
    align-items: center;
}
.top-section{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.top-section .half{
    width: 50%;
}
.top-section .half .color{
    color: orange;
    padding: 20px 0;
}
.top-section .half img{
    width: 100%;
}


.top-section .half a{
    color: #fff;
    padding:7px 30px;
    border: none;
    background-image: linear-gradient(to left,rgba(243, 142, 10, 0.931),rgba(255, 196, 0, 0.925));
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}

.top-section .half .link-btn{
    margin-top: 30px;
}
.top-section .half h4{
    margin: 20px 0;
    font-size: 25px;
}
/* .top-section .half p{
    padding-bottom: 20px;
} */
.top-section .main{
    padding: 0px 20px;
    width:48%;
}
.top-section .main img{
    width: 80%;
}


